.form-element {
  width: 100%;
}

.mat-raised-button {
  margin: 1rem;
}

.mat-card {
  box-shadow: 0px 0px;
  text-align: end;
}

.mat-toolbar {
  max-height: 3rem;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}
