<mat-toolbar>
  <span>Add New - Frequently Asked Question</span>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <mat-form-field class="form-element" appearance="outline">
      <mat-label>What is your Question?</mat-label>
      <input
        matInput
        required
        [(ngModel)]="questionField"
        placeholder="What is your Question?"
      />
    </mat-form-field>
    <div>
      <button mat-icon-button color="accent" (click)="addNewAnswer()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="dynamicAnswer">
      <div
        *ngIf="data && data.answers && data.answers.length > 0"
        class="dynamicAnswer"
      >
        <app-answer
          *ngFor="let answer of data.answers"
          [editMode]="true"
          [answer]="answer"
        ></app-answer>
        <ng-container #dynamicAnswer></ng-container>
      </div>
      <div
        *ngIf="data == null || (data.answers && data.answers.length === 0)"
        class="dynamicAnswer"
      >
        <app-answer [editMode]="true"></app-answer>
        <ng-container #dynamicAnswer></ng-container>
      </div>
    </div>
    <div class="button-panel">
      <button mat-raised-button color="warn" (click)="onNoClick()">
        Cancel
      </button>

      <button
        mat-raised-button
        color="primary"
        [mat-dialog-close]="submitData()"
      >
        {{ updateMode ? "Update" : "Add" }}
      </button>
    </div>
  </mat-card-content>
</mat-card>
