@import "~@angular/material/theming";
@import "../../../custom-theme.scss";

$color: mat-get-color-config($custom-theme);

$primary: map-get($color, primary);

mat-card {
  width: 94%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0px;
  min-height: 6rem;
}

.header {
  background: map-get($primary, 500);
  color: white;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  min-height: 1rem;
  font-size: 15px;
  padding: 0.5rem;
  vertical-align: middle;
}

.question_content {
  padding: 0.5rem;
}
