@import "../../../custom-theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;1,100;1,300&family=Roboto:ital,wght@1,500&family=Rubik:wght@400;500;600;700&display=swap");

mat-card {
  width: 94%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 48px;
  padding: 0px;
  height: 10rem;
}
.header {
  background: map-get($primary, 500);
  color: white;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.mat-card-content {
  font-size: 15px;
  padding-top: 0.5rem;
}

::ng-deep .mat-grid-tile-content {
  align-items: initial; /*vertical alignment*/
  justify-content: initial !important; /*horizontal alignment*/
  padding-left: 20px !important;
}

.image-cropper {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0.2rem auto;
}

img {
  margin: 0 auto;
  padding-top: 0.2rem;
  height: 100%;
  width: auto;
}

mat-icon {
  margin-right: 0.6rem;
  vertical-align: middle;
}

mat-slide-toggle {
  margin-top: 0.4rem;
}
